.git/
.github/
**/.gitignore
**/.dockerignore*

.dir-locals.el
.vs
**/.vscode
**/.env
.next/

**/Dockerfile
**/.dockerignore
docker-compose.yml
docker-compose.*.yml
**/bin/
**/obj/
**/global.json
**/*.user
**/node_modules