@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('./fonts/iosevka/woff2/iosevka-regular.woff2') format('woff2'), url('./fonts/iosevka/ttf/iosevka-regular.ttf') format('truetype');
}

